<div class="header shadow bg-body-tertiary rounded row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class=" header_row1 row d-flex text-center p-2 nav" id="mainNav">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 offset-xl-1 me-1">
                <div class="dropdown">
                    <button class="btn dropdown-toggle  rounded-0" type="button" data-bs-toggle="dropdown"aria-expanded="false">
                        Cá nhân
                    </button>
                    <ul class="dropdown-menu ">
                        <li><a class="dropdown-item" href="#">Cá nhân</a></li>
                        <li><a class="dropdown-item " href="#">Doanh nghiệp</a></li>
                        <li><a class="dropdown-item " href="#">Nhà đầu tư</a></li>
                        <li><a class="dropdown-item " href="#">Về chúng tôi</a></li>
                        <li><a class="dropdown-item " href="#">Tuyển dụng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto  p-2">
                <a style="color: #A2A2A2;" class="border-start pe-2">Khám phá: </a>
                <a href="#" class="me-2">Inspire</a>
                <a href="#" class="me-2">Priority</a>
                <a href="#" class="me-2">Private</a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto d-md-flex ms-auto p-2 search-icon" id="search-icon">
                <a href="" data-bs-toggle="modal" data-bs-target="#searchModal" (click)="loadSessionStorage()"><i class="bi bi-search"></i></a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto p-2 me-2">  
                <a href="#">Công cụ tiện ích</a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto p-2 me-2">
                <a href="#">Hỗ trợ</a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto p-2 me-2">
                <a href="#">Liên hệ</a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto language me-2">
                <div class="dropdown">
                    <button class="btn dropdown-toggle  rounded-0" type="button" data-bs-toggle="dropdown"aria-expanded="false">
                        <i class="bi bi-globe-americas me-2"></i>Tiếng Việt
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                        <li><a class="dropdown-item " href="#">English</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" header_row2 row  d-flex align-items-center">
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-2 offset-sm-1 logo">
                <a href="#" routerLink="/" class="logo-desktop"><img src="../assets/imgs/techcombank_logo_svg_86201e50d1.svg" ></a>
                <a href="#" class="logo-mobile"><img src="../assets/imgs/cq5dam.web.640.640.png" ></a>
            </div>
            <div class=" col-xl-auto col-lg-auto col-md-auto col-sm-auto col-xs-auto me-1 nav1" id="mainNav1">
                <div class="row">
                    <div class=" col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1 ">
                        <div class="menu-item">
                            @if(this.authService.isAdmin()){
                                <a href="/user" class="navlink" id="nav">Dashboard</a>
                            }@else if(!this.authService.isAdmin()) {
                                <a href="#" class="navlink" id="nav">Chi Tiêu</a>
                            }
                            @if(isUnauthorized()){
                                <a href="#" class="navlink" id="nav">Chi Tiêu</a>
                            }
                            <div class="subnav position-absolute  rounded-2" id="subnav">
                                <div class="right-subnav">
                                    <div class="row my-3 submenu-link ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-2">
                                            <a>Tài khoản</a>
                                        </div>
                                    </div>
                                    <div class="row my-3 submenu-link">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-2">
                                            <a>Thẻ TechcomBank</a>
                                        </div>
                                    </div>
                                    <div class="row my-3 submenu-link">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-2">
                                            <a>Dịch vụ khác</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="left-subnav submenu1">
                                    <div class="row my-3 ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row my-5">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản ngoại tệ</a>
                                                    <br>
                                                    <a>Đa dạng ngoại tệ với tỷ giá hấp dẫn</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row my-5">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 me-2 col-md-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a class="">Tài khoản thấu chi MyCash</a>
                                                    <br/>
                                                    <a>Ứng tiền tức thì, chi tiêu linh hoạt</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row d-flex mt-auto  bg-secondary">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row my-3">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 me-2 col-md-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a class="fw-bold">Quà thành viên lâu năm</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- <div class="left-subnav submenu2">
                                    <div class="row my-5 ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thẻ tín dụng</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex mt-auto bg-secondary">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row my-5">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 me-2 col-md-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a class="fw-bold">Quà thành viên lâu năm</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="left-subnav submenu3">
                                    <div class="row my-5 ">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thẻ tín dụng</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>                    
                    </div>
                    
                    <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1 ">
                        <div class="menu-item">
                            <a href="#" class="navlink" id="nav">Tiết kiệm</a>
                            <div class="subnav position-absolute rounded-2" id="subnav">
                                <div class="right-subnav">
                                    <div class="row my-3 submenu-link p-2 sub1">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a>Tài khoản</a>
                                        </div>
                                    </div>
                                    <div class="row my-3 submenu-link p-2 sub2">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a>Thẻ BIDV</a>
                                        </div>
                                    </div>
                                    <div class="row my-3 submenu-link p-2 sub3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <a>Dịch vụ khác</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="left-subnav border-start submenu1">
                                    <div class="row my-5 ms-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Frame_8227_2_d4875b30db.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-5 ms-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-6 col-xs-6">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="left-subnav border-start submenu2">
                                    <div class="row my-5 ms-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Frame_8227_2_d4875b30db.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="left-subnav border-start submenu3">
                                    <div class="row my-5 ms-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Frame_8227_2_d4875b30db.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto">
                                                    <a>Tài khoản thanh toán</a>
                                                    <br>
                                                    <a>Tiện ích tối đa hoàn toàn miễn phí</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row d-flex mt-auto bg-secondary">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-1 me-2 col-md-1 col-sm-1 col-xs-1">
                                                    <img src="../assets/imgs/Cheque_b747608e70.svg">
                                                </div>
                                                <div class="col-lg-auto col-md-auto col-sm-6 col-xs-6">
                                                    <a class="fw-bold">Tài khoản thanh toán</a>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1 ">
                        <div class="menu-item">
                            <a id="nav">Vay</a>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1 ">
                        <div class="menu-item">
                            <a routerLink="/news" id="nav">Tin tức</a>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1">
                        <div class="menu-item">
                            <a id="nav">Giao dịch</a>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1">
                        <div class="menu-item">
                            <a href="#" id="nav">Ngân hàng trực tiếp</a>
                        </div>
                    </div>
                    <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-xs-12 me-1">
                        <div class="menu-item">
                            <a href="#" id="nav">Thông tin mới</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto d-flex ms-auto p-3 login">
                <a routerLink="/login">Đăng nhập<i class="bi bi-arrow-right-short " ></i></a>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto hamburger">
                <i class="bi bi-list mobile-nav-toggle"></i>
            </div>
        </div>
    </div>
    <div class="row search">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-3">
            <div class="input-group search-bar mb-2">
                <label  class="input-group-text " style="background-color: #FFFFFF;"><i class="bi bi-search"></i></label>
                <input type="text" [(ngModel)]="searchKey"  (keyup.enter)="onSearch();" class="form-control border-start-0" placeholder="Tìm kiếm thông tin" >
            </div>
        </div>
    </div>
</div>
<!-- <div class="search-tab">
    <div class="row search">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-3">
            <div class="input-group search-bar-1 mb-2">
                <label  class="input-group-text " style="background-color: #FFFFFF;"><i class="bi bi-search"></i></label>
                <input type="text" class="form-control border-start-0" placeholder="Tìm kiếm thông tin" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="fw-bold">Các tìm kiếm gần đây của bạn</a>
        </div>
        <div class="col-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a class="fw-bold">Liên kết hữu ích</a>
        </div>
        <div class="col-12">
            <div class="row card-search">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto card-search-1 d-flex flex-column justify-content-end rounded-3 me-4">
                    <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Thẻ tín dụng</a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  card-search-1 d-flex flex-column justify-content-end rounded-3 me-4 ">
                    <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Thẻ tín dụng</a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto card-search-1 d-flex flex-column justify-content-end rounded-3 me-4">
                    <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Thẻ tín dụng</a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  card-search-1 d-flex flex-column justify-content-end rounded-3">
                    <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Thẻ tín dụng</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog  modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body">
            <div class="search-tab">
                <div class="row search">
                    <div class="col-auto">
                        <div class="input-group search-bar-1 mb-2">
                            <label  class="input-group-text " style="background-color: #FFFFFF;"><i class="bi bi-search"></i></label>
                            <input type="text" [(ngModel)]="searchKey"  (keyup.enter)="onSearch();" class="form-control border-start-0" placeholder="Tìm kiếm thông tin" >
                        </div>
                    </div>
                </div>
                <div class="row mt-2 search-key">
                    <div class="col-12">
                        <a class="fw-bold">Các tìm kiếm gần đây của bạn</a>
                    </div>
                    @if (searchKeyList.length > 0) {
                        <div class="col-12 my-4 search-recent d-flex">
                            @for (item of recentSearchKeys; track $index) {
                                <a (click)="searchKey = item ;onSearch()" id="deleteSearch" class="rounded-pill p-3 d-flex align-items-center justify-content-center">{{item}}<img (click)="removeSearchKey(item, $event)" class="rounded-circle p-1" src="../../assets/imgs/icon-close-grey.svg"></a>
                            }
                        </div>
                    }
                </div>
                <div class="row ">
                    <div class="col-12 mb-3">
                        <a class="fw-bold">Liên kết hữu ích</a>
                    </div>
                    <div class="col-auto">
                        <div class="row card-search flex-wrap justify-content-between">
                            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto card-search-1 d-flex flex-column justify-content-end rounded-3">
                                <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Thẻ tín dụng</a>
                            </div>
                            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  card-search-2 d-flex flex-column justify-content-end rounded-3">
                                <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Vay tiêu dùng</a>
                            </div>
                            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto card-search-3 d-flex flex-column justify-content-end rounded-3 ">
                                <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Techcombank mobile</a>
                            </div>
                            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  card-search-4 d-flex flex-column justify-content-end rounded-3">
                                <a class="fs-6 fw-bold p-3 rounded rounded-top-0" >Tỷ giá</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
