<!--footer-->
<div class="row footer">
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 offset-sm-1">
        <div class="row my-4">
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto logo">
                <img src="../assets/imgs/logo.png" alt="logo">
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto ms-auto me-5" >
                <a href="#"  id="toggle-submenu">Liên kết khác <img src="../assets/imgs/chevron-bottom-icon.svg" class="arrow-down" alt="chevron-bottom-icon"></a>
            </div>
            <div class="submenu">
                <div class="row my-2">
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3">
                        <a class="fw-bold">Khách hàng cá nhân</a>
                        <a href="#">Chi tiêu</a>
                        <a href="#">Tiết kiệm</a>
                        <a href="#">Vay</a>
                        <a href="#">Đầu tư</a>
                        <a href="#">Bảo hiểm</a>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3">
                        <a class="fw-bold">Khách hàng doanh nghiệp</a>
                        <a  href="#">Quản trị hàng ngày</a>
                        <a  href="#">Vay</a>
                        <a  href="#">Thương mại</a>
                        <a  href="#">Nguồn vốn</a>
                        <a  href="#">Bảo hiểm</a>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3 ">
                        <a class="fw-bold">Khách hàng ưu tiên</a>
                        <a  href="#">Dịch vụ khách hàng ưu tiên</a>
                         <a  href="#">Đặc quyền vượt trội</a>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3">
                        <a class="fw-bold">Nhà đầu tư</a>
                        <a  href="#">Thông tin tài chính</a>
                        <a  href="#">Đại hội đồng cổ đông</a>
                        <a  href="#">Sự kiện khác</a>
                        <a  href="#">Thông tin khác</a>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3">
                        <a class="fw-bold">Về chúng tôi</a>
                        <a  href="#">Về TechcomBank</a>
                        <a  href="#">Tin tức và báo chí</a>
                        <a  href="#">Trách nhiệm và cộng đồng</a>
                        <a  href="#">Pháp lý và tuân thủ</a>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5 col-xs-5 mt-3">
                        <a class="fw-bold">Hỗ trợ & tiện ích</a>
                        <a  href="#">Khám phá và chia sẻ</a>
                        <a  href="#">Tuyển dụng</a>
                        <a  href="#">Công cụ & Tiện ích</a>
                        <a  href="#">Hỗ trợ</a>
                        <a  href="#">Liên hệ</a>
                    </div>
                </div>
               ]
            </div>
        </div>
        <div class="row">
            <div class="col-lg-auto col-md-auto col-sm-auto ms-auto me-5">
                <p>Kết nối với Techcombank nhiều hơn tại đây</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-auto col-md-auto col-sm-auto ms-auto me-5">
                <a class="me-2"><img src="../assets/imgs/facebook.svg" alt="facebook"></a>
                <a class="me-2"><img src="../assets/imgs/in.svg" alt="in"></a>
                <a class="me-2"><img src="../assets/imgs/youtube.svg" alt="youtube"></a>
                <a class="me-2"><img src="../assets/imgs/zolo.svg" alt="zolo"></a>
            </div>
        </div>
    </div>
</div>
