<div class="body">
    <div class="row banner ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
            <div class="row align-items-center">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto offset-sm-1">
                    <a style="color: #A2A2A2;">Trang chủ  ></a>
                    <a>Khách hàng cá nhân</a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-auto offset-sm-1 fs-4">
                    Chào mừng bạn đến với website Techcombank dành cho khách hàng cá nhân
                </div>
            </div>
        </div>
    </div>
    <!--Mở tài khoản Techcombank-->
    <div class="row intro align-items-center">
        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  offset-sm-3 me-5">
            <img src="../assets/imgs/download-img-phone-2aa3976e71-fab64806e0-edf841b00b.webp">
        </div>
        <div class="col-lg-6 col-md-auto col-sm-auto col-xs-auto" >
            <p class="fs-4">Bắt đầu hành trình trải nghiệm của bạn tại Techcombank</p>
            <p>Mở tài khoản dễ dàng trong 1 phút trên ứng dụng Techcombank Mobile để tận hưởng những tính năng mới nhất và an toàn hơn khi giao dịch ngân hàng.</p>
            <div class=" rounded shadow-lg  p-2 mb-4" style="width: 300px;" >
                <a >Mở tài khoản Techcombank<img src="../assets/imgs/qr.png"></a>
            </div>
            <a href="#"  >Tìm hiểu thêm về Tài khoản Techcombank<img src="../assets/imgs/red-arrow-right.svg" style="height: 2vh; width: 2vw;" class="ms-2"></a>
        </div>
    </div>
    <!--notice-->
    <div class="row notice align-items-center mt-2">
        <div class="col-lg-8 col-md-10 col-sm-10  col-xs-11 offset-sm-1 p-2">
            <a class="fs-4 mb-5"><img src="../assets/imgs/announce.svg" class="me-3">Thông báo cập nhật sinh trắc học</a>
            <p class="fs-4 mb-2 mt-3">BẮT BUỘC CẬP NHẬT SINH TRẮC HỌC ĐỂ THỰC HIỆN GIAO DỊCH VƯỢT HẠN MỨC</p>
            <p class="fs-6">Nhằm mang tới trải nghiệm ngân hàng số an toàn, bảo mật, tuân thủ theo Quyết định 2345/QĐ-NHNN của Ngân hàng Nhà nước, Techcombank triển khai hình thức xác thực giao dịch bằng nhận diện khuôn mặt đối với các giao dịch vượt hạn mức, hiệu lực áp dụng từ ngày 01/07/2024.</p>
        </div>
        <div class="col-lg-auto col-md-auto col-sm-auto col-xs-10 offset-sm-1  ms-sm-5 mb-3 border rounded d-flex align-items-center chitiet" >
            <a href="#" class=" text-center">
                Xem chi tiết 
            </a>
            <a href="#"><i class="bi bi-arrow-right-short ms-5" style="font-size: 2rem;"></i></a>   
        </div>
    </div>
    <!--sản phẩm-->
    <div class="row mt-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-auto">
            <div class="row mt-2 sanpham">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  offset-sm-1">
                    <a class="fs-4 ">Sản phẩm nổi bật</a>
                </div>
            </div>
            <div class="row mt-2 ">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  offset-sm-1 sanpham1 d-flex flex-column justify-content-end rounded me-4">
                    <a class="fs-4 fw-bold" >Tài khoản thanh toán sinh lời tối đa mỗi ngày</a>
                    <a class="mb-2">Tính năng Sinh lời tự động đánh thức tiền nhàn rỗi với lãi suất vượt trội <i class="bi bi-arrow-right-short ms-5" style="font-size: 2rem;"></i></a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  sanpham2 d-flex flex-column justify-content-end rounded me-4">
                    <a>Tài khoản</a>
                    <a class="fs-4 fw-bold" >Chọn số tài khoản đẹp & thiết kế thẻ cá tính</a>
                    <a>Mở tài khoản trực tiếp chỉ 1 phút.</a>
                    <a class="mb-2">Trải nghiệm ngay tiện ích thanh toán, đầu tư hiện đại cùng ngàn ưu đãi <i class="bi bi-arrow-right-short ms-2" style="font-size: 2rem;"></i></a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto  sanpham3 d-flex flex-column justify-content-end rounded me-4">
                    <a>TECHCOMBANK REWARDS</a>
                    <a class="fs-4 fw-bold">Chương trình khách hàng thân thiết</a>
                    <a class="mb-2" >Thêm gắn kết, thêm giá trị  <i class="bi bi-arrow-right-short ms-5" style="font-size: 2rem;"></i></a>
                </div>
            </div>
            
        </div>
    </div>
    <!--review-->
    <div class="row review mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
            <div class="row">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto offset-sm-1 p-3">
                    <p class="fs-4 text-white">Khách hàng nói gì về chúng tôi</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-11 offset-sm-1 me-3 mb-2" >
                    <div class="card">
                        <img src="../assets/imgs/cus-review-4fd3170849-a4eb0aa696-a3ba07de17.webp" class="card-img-top img-fluid" alt="...">
                        <div class="card-body d-md-flex flex-column">
                          <p class="card-text">“Techcombank rất nổi tiếng tại Việt Nam, là một trong những ngân hàng tôi yêu thích nhất. Tôi rất hài lòng về dịch vụ của ngân hàng và rất phù hợp với những người đam mê công nghệ như tôi.”</p>
                          <h6 class="card-title mt-auto">Mr. Nguyễn Trường Phong</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 me-3 col-md-3  col-sm-3 col-xs-11 mb-2" >
                    <div class="card">
                        <img src="../assets/imgs/Cus-review-2-c7d9065b38-5f84a66043-f71d879361.webp" class="card-img-top" alt="...">
                        <div class="card-body d-md-flex flex-column">
                          <p class="card-text">“Khi mở tài khoản tại Techcombank, tôi chỉ cần thao tác ngay trên ứng dụng điện thoại và chụp CCCD để xác minh là xong. Thật may là không cần đến chi nhánh nữa, chỉ mất khoảng 1 phút là có tài khoản dùng rồi.”</p>
                          <h6 class="card-title ">Ms. Đặng Ngọc Thanh Hà</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 me-3 col-md-3 col-sm-3 col-xs-11 mb-2" >
                    <div class="card">
                        <img src="../assets/imgs/Cus-review-3-c2c746f7c0-bc0ade9b24-10c3a3a6e9.webp" class="card-img-top" alt="...">
                        <div class="card-body d-md-flex flex-column">
                          <p class="card-text">“Tôi rất hài lòng và an tâm khi được nhân viên của Techcombank tư vấn về tài chính cùng với gói bảo vệ cho sức khỏe của gia đình. Các giải pháp tài chính rất phù hợp với nhu cầu của tôi.”</p>
                          <h6 class="card-title">Ms. Lê Bích Phượng</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Giai thuong-->
    <div class="row mt-4">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 offset-sm-1 giaithuong">
            <p class="fs-4">Giải thưởng nổi bật của Techcombank</p>
            <p>Chúng tôi tự hào là một trong những ngân hàng uy tín hàng đầu Việt Nam, được khẳng định qua những giải thưởng danh giá nhất</p>
            <img src="../assets/imgs/1869x411-award-web-150923-c07b797b11.jpeg">
        </div>
    </div>
    <!--Truy cap nhanh-->
    <div class="row access ">
        <div class="col-lg-2 col-md-auto col-sm-auto col-xs-2 offset-sm-1 mt-5">
            <p class="fs-4">Truy cập nhanh</p>
        </div>
        <div class="col-lg-5 col-md-10 col-sm-10  col-xs-12   tygia rounded-3 me-3 my-5 offset-sm-1 offset-lg-0  ">
            <div class="row mt-2 border-bottom  nav nav-tabs ">
                <div class="col-lg-auto col-md-4 col-sm-12 col-xs-12 nav-item">
                    <button class="nav-link active " data-bs-toggle="tab" data-bs-target="#tygia"><a>Tỉ giá chuyển đổi</a></button>
                </div>
                <div class="col-lg-auto col-md-3 col-sm-12 col-xs-12 nav-item">
                    
                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#bieuphi"><a>Biểu phí</a></button>
                </div>
                <div class="col-lg-auto col-md-3 col-sm-12 col-xs-12 nav-item">
                    <button class="nav-link " data-bs-toggle="tab" data-bs-target="#bieumau"><a>Biểu mẫu</a></button>
                </div>
            </div>
            <div class="tab-content pt-2">
                <div class="tab-pane fade show active " id="tygia">
                    <div class="row mt-2 border-bottom tab-content ">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 offset-3 offset-xs-1 text-center ">
                            <p>MUA</p>
                            <p>(Tiền mặt)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 text-center">
                            <p>MUA</p>
                            <p>(Chuyển khoản)</p>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 text-center">
                            <p>BÁN</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-usd-136d70ac84.svg" class="me-2">USD</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2  col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3  col-xs-3 text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-aud-0dae42ec99.svg" class="me-2">AUD</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-eur-74e8bc47ac.svg" class="me-2">EUR</a>
                        </div>
                        <div class="col-lg-2  col-md-2 col-sm-2 col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-gbp-236566a422.svg" class="me-2">GBP</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-jpy-1b68953fe2.svg" class="me-2">JPY</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <a><img src="../assets/imgs/flag-sgd-5807ceb79c.svg" class="me-2">sgd</a>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                            <a>24,576</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                        <a>24,608</a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                            <a>24,948</a>
                        </div>
                    </div>
                
                    <div class="row border-top mt-3 p-1">
                        <div class="col-lg-auto col-md-auto col-sm-auto">
                            <a>Cập nhật ngày 04/10/2024</a>
                        </div>
                        <div class="col-lg-auto col-md-auto col-sm-auto ms-auto">
                            <a class="fw-bold " style="text-decoration: none; color: #000000;">Xem tất cả <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="bieuphi">
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Tài khoản</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Tiền gửi tiết kiệm</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Tín dụng</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Ngân hàng điện tử và chuyển tiền cá nhân</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Thẻ thanh toán</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Biểu phí dịch vụ Thẻ tín dụng</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
    
                </div>
                <div class="tab-pane fade " id="bieumau">
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Mở tài khoản cá nhân</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Mở tài khoản cho người nước ngoài</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-12 d-flex ">
                            <a>Phát hành thẻ tín dụng quốc tế</a>
                            <img src="../assets/imgs/red-download.svg" class="d-flex ms-auto">
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="col-lg-3 mt-5  col-md-10 col-sm-10 offset-sm-1 offset-lg-0">
            <div class="row service rounded p-2">
                <div class="col-lg-3 col-md-auto col-sm-auto me-2">
                    <img src="../assets/imgs/cq5dam.web.1280.1280 (1).png">
                </div>
                <div class="col-lg-7 col-md-auto col-sm-auto me-2">
                    <p class="fw-bold">Ngân hàng số</p>
                    <a>Trải nghiệm ngân hàng số hàng đầu Việt Nam</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 d-md-flex align-items-center ">
                    <i class="bi bi-arrow-right-short" style="font-size: 2em;"></i>
                </div>
            </div>
            <div class="row service rounded p-2 mt-2">
                <div class="col-lg-3 col-md-auto col-sm-auto me-2 ">
                    <img src="../assets/imgs/icon1.png">
                </div>
                <div class="col-lg-7 col-md-auto col-sm-auto me-2">
                    <p class="fw-bold">Ngân hàng số</p>
                    <a>Trải nghiệm ngân hàng số hàng đầu Việt Nam</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 d-md-flex align-items-center ">
                    <i class="bi bi-arrow-right-short" style="font-size: 2em;"></i>
                </div>
            </div>
            <div class="row service rounded p-2 mt-2 mb-3">
                <div class="col-lg-3 col-md-auto col-sm-auto me-2">
                    <img src="../assets/imgs/icon1.png">
                </div>
                <div class="col-lg-7 col-md-auto col-sm-auto me-2">
                    <p class="fw-bold">Ngân hàng số</p>
                    <a>Trải nghiệm ngân hàng số hàng đầu Việt Nam</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 d-md-flex align-items-center ">
                    <i class="bi bi-arrow-right-short" style="font-size: 2em;"></i>
                </div>
            </div>
        </div>
    </div>
    <!--Kham pha chia se-->
    <div class="row share">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 offset-sm-1 my-5">
            <div class="row  align-items-center">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-10 me-2 ">
                    <a class="fs-4 border-end">Khám phá và chia sẻ &nbsp;</a>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-11 col-xs-10  border rounded xemthem d-md-flex align-items-center">
                    <a href="#" class="fs-5">Xem thêm <i class="bi bi-arrow-right-short" style="font-size: 1.5rem;"></i></a>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-lg-3 col-md-3 col-sm-10  me-md-4 " >
                    <div class="card">
                        <img src="../assets/imgs/cach-mo-tai-khoan-thumbnail-e571a125b7.jpg" class="card-img-top img-fluid" >
                        <div class="card-body d-flex flex-column">
                            <a>19/09/2024</a>
                            <h6 class="card-title">Hướng dẫn cách mở tài khoản siêu đơn giản chỉ với 7 bước</h6>
                            <p class="card-text">Cách mở tài khoản ngân hàng miễn phí chỉ với 7 bước đơn giản, có tài khoản ngay sau 5 phút. Cùng Techcombank khám phá ngay tại bài viết sau!</p>
                            <a>Xem thêm <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-10 mx-md-4 " >
                    <div class="card">
                        <img src="../assets/imgs/chung-chi-tien-gui-khac-gi-so-tiet-kiem-thumbnail.jpg" class="card-img-top">
                        <div class="card-body d-flex flex-column">
                            <a>19/09/2024</a>
                            <h6 class="card-title ">Chứng chỉ tiền gửi khác gì tiền gửi tiết kiệm?4 điểm bạn cần lưu ý </h6>
                            <p class="card-text">Chứng chỉ tiền gửi khác gì sổ tiết kiệm? Tìm hiểu chi tiết 4 điểm khác biệt về tính thanh khoản, lãi suất, kỳ hạn.</p>
                            <a>Xem thêm <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-10 mx-md-4" >
                    <div class="card">
                        <img src="../assets/imgs/vay-tin-chap-va-vay-the-chap-thumbnail.jpg" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <a>19/09/2024</a>
                            <h6 class="card-title ">9 điểm khác biệt chính giữa vay tín chấp và vay thế chấp</h6>
                            <p class="card-text">Tìm hiểu ngay các điểm khác biệt giữa vay tín chấp và vay thế chấp: Khái niệm, mục đích, tài sản đảm bảo, thời gian duyệt vay, lãi suất, hồ sơ, quy trình...</p>
                            <a>Xem thêm <i class="bi bi-arrow-right-short"></i></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row more">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12 offset-sm-1 my-5 ">
            <div class="row">
                <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto my-3">
                    <p class="fs-4">Có thể bạn quan tâm</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 me-5 ">
                    <div class="card text-bg-dark card-bottom">
                        <img src="../assets/imgs/Business-Banking-min-e866df971e-465b2ceed1-3c8815e921.webp" class="card-img" >
                        <div class="card-img-overlay">
                          <h5 class="card-title">Khách hàng doanh nghiệp</h5>
                          <p class="card-text">Đối tác doanh nghiệp tin cây, thấu hiểu doanh nghiệp của bạn</p>
                          
                        </div>
                      </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="card text-bg-dark card-bottom ">
                        <img src="../assets/imgs/P-Business-Banking-min-76b9dc909e-0ab1d34853-af52697b5c.webp" class="card-img" >
                        <div class="card-img-overlay">
                          <h5 class="card-title">Dịch vụ ngân hàng ưu tiên</h5>
                          <p class="card-text">Dịch vụ ngân hàng xứng tầm với dịch vụ tư vấn tài chính dành riêng cho bạn</p>
                          
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

